doctype html
html
    include includes/head.pug
    body
        nav(class="navbar navbar-fixed-top navbar-inverse")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only")
                            | Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/")
                        | Express 5 Project Forum
                div(id="navbar" class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="/")
                                | Home
                        if authenticated
                            li
                                a(href="/chatroom")
                                    | Chat Room
        div(class="container")
            h1
                | Edit Profile
            hr
            div(class="row")
            <!-- left column -->
            div(class="col-md-3")
                div(class="text-center")
                    if user[0].img === 'default-img.gif'
                        img(src="../static/images/uploads/" + user[0].img class="avatar img-circle" alt="avatar")
                    else
                        img(src="../static/images/uploads/" + user[0]._id + user[0].img class="avatar img-circle" alt="avatar")
                    h6
                        | Upload a different photo...
                        |( 200X200 pix MAX)
                    form(class="form-horizontal" method="post" enctype="multipart/form-data" action="/profile/img")
                        input(type="file" class="form-control" name="imgUploader" single)
                        input(type="submit" class="forn-contrl" value="Upload")
            
            <!-- edit form column -->
            div(class="col-md-9 personal-info")
                h3
                    | Personal info
                form(class="form-horizontal" role="form" method="post" action="/profile/" + user[0]._id + "/update")
                    div(class="form-group")
                        label(class="col-lg-3 control-label")
                            | First name:
                        div(class="col-lg-8")
                            input(class="form-control" type="text" value=user[0].firstName name="firstname")
                    div(class="form-group")
                        label(class="col-lg-3 control-label")
                            | Last name:
                        div(class="col-lg-8")
                            input(class="form-control" type="text" value=user[0].lastName name="lastname")
                    div(class="form-group")
                        label(class="col-lg-3 control-label")
                            | Username
                        div(class="col-lg-8")
                            input(class="form-control" type="text" value=user[0].username name="username" readonly="true")
                    div(class="form-group")
                        label(class="col-lg-3 control-label")
                            | Email:
                        div(class="col-lg-8")
                            input(class="form-control" type="text" value=user[0].email name="email" readonly="true")
                    div(class="form-group")
                        label(class="col-lg-3 control-label")
                            | Signature:
                        div(class="col-lg-8")
                            input(class="form-control" type="text" value=user[0].signature name="signature")
                    div(class="form-group")
                        label(class="col-md-3 control-label")
                        div(class="col-md-8")
                            input(type="submit" class="btn btn-primary" value="Save Changes")

        hr
    